.contacts {
  display: flex;
  padding-top: 20px;
}

.contacts-col1 {
  border: 1px solid #dfe5ed;
}

.contacts-row1 {
  display: flex;
  width: 350px;
  border: 1px solid #dfe5ed;
  padding: 15px 20px 15px 10px;
}

.contacts-col1 span {
  display: block;
  color: #333333;
  font-weight: 400;
  padding-bottom: 5px;
  font-size: 14px;
}

.contacts-col1 b {
  color: #333333;
  font-weight: 500;
  font-size: 14px;
}

.contacts a {
  color: black;
}
