.product-cart {
   margin-top: 20px;
   display: flex;
   align-items: center;
   padding: 20px;
   background-color: #fff;
 }
 
 .product-cart-left {
   padding-right: 50px;
 }

 img {
  width: 200px;
 }
 
 .product-cart-left img {
   height: 300px;
 }
 