.nav {
  background: #4e4e4e;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.nav-inner {
  width: 1170px;
  height: 64px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1px;
  font-size: 16px;
  height: 60px;
  align-items: center;
  line-height: 60px;
  height: 100%;
}

.nav li {
  display: flex;
  height: 100%;
  text-align: center;
}

.nav a {
  text-decoration: none;
  padding: 23px 20px;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font: bold 13px / 18px Arial, Helvetica, sans-serif;
}




.nav li:hover {
  background-color: #333333;
}