.footer {
  background: #f7f7f7;
  padding: 15px 15px;
  border-top: 2px solid #02a1e4;
}

.footer-content {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  grid-template-columns: repeat(3, 1fr);
  margin: 30px auto;
  grid-gap: 10px;
  display: grid;
}

a:hover {
  color: #02a1e4;
}

.footer a {
  color: black;
  font-size: 15px;
  font-weight: 400;
}

a:hover {
  color: #4682B4;
}

.h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer ul {
  padding-left: 0;
  list-style: none;
}

.footer li {
  margin-bottom: 10px;
}

.footer ul {
  font-size: 16px;
  text-decoration: none;
}

.h2 {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.footer img {
  padding-left: 40px;
}

.span {
  padding-left: 0;
  margin-bottom: 10px;
}

.city,
.email,
.phone,
.work {
  padding-top: 10px;
  font-size: 17px;
  padding-left: 0;
  font-weight: 600;

  padding-bottom: 20px;
}

.ural {
  text-align: center;
  padding-top: 10px;
  font-size: 17px;
  font-weight: 600;
}

.footer img {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 90px;
}

.col1 {
  width: 400px;
}

.col2 {
  width: 400px;
}

.middle-text {
  display: block;
  font-weight: bold;
}

.row-info {
  padding: 0px 0 0px;
}

.footer-phone {
  padding-bottom: 0px;
  display: inline-block;
  position: relative;
  padding-top: 10px;
  padding-bottom: 5px;
}

.footer-email {
  padding-bottom: 0px;
  display: inline-block;
  position: relative;
  padding-top: 10px;
}

.footer-col {
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-text {
  font-weight: 400;
}

.footer-text-adress {
  padding-top: -30px;
}

.middle-text-adress {
  font-weight: 600;
  padding-bottom: -10px;
}

.footer-priem {
  font-size: 15px;
}
