.footer {
  background: #4e4e4e;
  padding: 30px 15px;
}

.footer-content {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  grid-template-columns: repeat(3, 1fr);
  margin: 30px auto;
  grid-gap: 100px;
  display: grid;
}

a:hover {
  color: #45bf92;
}

.footer a {
  color: #d1d5d5;
  font-size: 15px;
  font-weight: 400;
}

a:hover {
  color: #45bf92;
}

.h5 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
}

.footer ul {
  padding-left: 0;
  list-style: none;
}

.footer li {
  margin-bottom: 10px;
}

.footer ul {
  font-size: 16px;
  color: #d1d5d5;
  text-decoration: none;
}

.h2 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}

.footer img {
  padding-left: 40px;
}

.span {
  padding-left: 0;
  margin-bottom: 10px;
}

.city,
.email,
.phone,
.work {
  padding-top: 10px;
  font-size: 17px;
  padding-left: 0;
  font-weight: 600;
  color: white;
  padding-bottom: 20px;
}

.ural {
  text-align: center;
  color: #d1d5d5;
}
