.zhbi-tittle {
  display: block;
  margin-bottom: 20px;
  padding: 10px 0;
  color: #3cd66c;
  text-align: center;
  font: 20px 'Ubuntu', Arial, sans-serif;
  position: relative;
}

h3.title-example {
  font-size: 20px;
  color: #5a5a5a;
  text-align: center;
}

h3.title-example:before {
  content: '';
  display: block;
  height: 1px;
  background: #01aaf3;
  width: 150px;
  margin: 0 auto 10px;
  transition: 1s;
}
h3.title-example:hover:before {
  width: 250px;
  transition: ease-out 1s;
}

h3.title-example:after {
  content: '';
  display: block;
  height: 1px;
  background: #01aaf3;
  width: 150px;
  margin: 10px auto 0;
  transition: 1s;
}
h3.title-example:hover:after {
  width: 250px;
  transition: ease-out 1s;
}

.zhbi-tittle-main {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 700;
}

.zhbi-tittle-main-h3 {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.main-text-p {
  margin: 8px 0;
  font-size: 15px;
}

.card {
  padding-top: 10px;
}
